@charset "utf-8";
h3 {
	color:deepskyblue;
}
h2 {
	color:red;
}
p { 
    background: linear-gradient(to right, blue, lightgreen); -webkit-background-clip: text; color: transparent;
}
/* CSS Document */